@import url("https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:wght@400;700&display=swap");

:root {
  --main: #6e8e9b;
  --shadow: -1px 0px 7px -1px rgba(0, 0, 0, 0.83);
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  max-width: 1060px;
  margin: 50px auto;
  padding: 0 20px;
}

.btn {
  color: var(--main) !important;
  background-color: #ffffff;
  padding: 8px 15px;
  border-radius: 50px;
  box-shadow: 0 3p 7px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: var(--main);
  color: #ffffff !important;
  transform: translateY(5px);
}

h2::after {
  margin: 20px 0 40px;
  content: "";
  display: block;
  width: 3px;
  height: 50px;
  background-color: var(--main);
}

/* Accueil */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/yogamat.jpg");
  background-size: cover;
  background-size: center;
  color: white;
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 30px;
}

header div.text {
  text-align: center;
  margin: 100px 0 120px;
}

header div.text h1 {
  font-family: "Mandali", sans-serif;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: 5px;
  margin: 0;
}

/* Concept */
.containerConcept h2 {
  color: var(--main);
  font-size: 2.5rem;
  margin-top: 40px;
}

.containerConcept h2::after {
  margin-top: 20px;
  content: "";
  display: block;
  width: 3px;
  height: 50px;
  background-color: #6e8e9b;
}

.containerConcept .articleConcept {
  display: flex;
  align-items: center;
}
.containerConcept .articleConcept img {
  width: 80px;
  height: 80px;
  margin: 30px;
  padding: 20px;
  border: solid 0px black;
  border-radius: 50px;
  box-shadow: var(--shadow);
}

/* Cours */
.containerCours h2 {
  color: var(--main);
  font-size: 2.5rem;
  margin-top: 40px;
}

.containerCours .articleCours {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.containerCours .articleCours img {
  width: 25%;
  aspect-ratio: 1/1;
  margin-right: 30px;
}



/* Contact */
.containerContact .articleContact .formRappel {
  display: flex;
  align-items: center; 
  margin: 20px 0; 
}
.containerContact .articleContact .formRappel label{
  margin-right: 20px;
  
  cursor: pointer;
}

.containerContact .articleContact .radio-container {
  display: inline-block;
  position: relative;
  margin-right: 10px; /* Espacement entre les boutons */
}

.containerContact .articleContact .radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.containerContact .articleContact .formInfos input{
  display: block;
  margin-bottom: 15px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3) inset;
  border: none;
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
}

.containerContact .articleContact .btnSend{
  margin: 20px 0;
}



/* Copyright */
.articleCopyright {
  background: #6e8e9b;
  padding: 20px 0;
  text-align: center;
  color: white;
}



/* ---------- Responsive ------------- */
@media screen and (min-width: 992px) {
  .containerConcept .articleConcept:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  header div.text h1 {
    font-size: 3.5rem;
  }
  .containerConcept .articleConcept {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .containerCours .articleCours {
    display: block;
    text-align: center;
  }
  .containerCours .articleCours img {
    width: 70%;
    margin-right: 0;
  }
}
